// Define variables for your color scheme

// Cores principais
$primary-color: #ff7e5f;  // Cor para elementos destacados
$secondary-color: #feb47b; // Cor secundária
$text-color: #333;        // Cor padrão para textos
$background-color: #f9f9f9; // Cor de fundo

// Outras variáveis
$white-color: #fff;
$black-color: #000;
$light-gray: #d3d3d3;
$gray:	#808080;
$blue:#1E90FF;
$green: #00FF7F;
$yellow:#FFD700;
$red:#FF4500;
$orange:#ffa500;
$purple:#9400D3;
