body {
  background: linear-gradient(45deg, #FF6F61, #FF9E80, #FFC107, #FFEB3B);
  background-size: 400% 400%;
  animation: gradientAnimation 7s ease infinite;


  @keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }

  .rounded-circle {
    filter: none;
  }
  .rounded-circle:hover {
    filter: rgb(211, 98, 98);
    filter: sepia(60%);
    transform: scale(1.1);
  }


  .btn {

    padding: 0.8rem 1.5rem;
    color: $purple;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }
}
