<div class="container d-flex justify-content-center">
<div class="jumbotron bg-white rounded p-3" style="width:900px; padding: 20px; opacity:0.7">
  <h1 class="display-4">New Order</h1>
  <hr class="my-4">
  <%= simple_form_for [@party_item, @order] do |f| %>
  <%= f.input :start_date, as: :date, html5: true %>
  <%= f.input :end_date, as: :date, html5: true %>
  <%= f.submit "Submit Order", class: "btn btn-primary" %>
<% end %>
</div>
